.harder{
  /* background-color: aqua; */
  border-bottom: 2px solid green;
  margin-top: 20px;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
.colharder{
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
  width: 200px;

  
}
